*{
    margin: 0;
    padding: 0;
}
body{
    background: #2c3e50;
    justify-content: center;
    justify-content: center;
    align-self: center;
    margin: auto 10vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
   /*Specify which one*/
     color: #fff;
}
.middle{ 
min-height: 100vh;
width: 100%;
margin: 0 auto; 
display: flex;
flex-direction: column;
align-items: center;
}
/* -----------------NAVBAR---------------------------------*/
nav{
    position: relative;
    margin:  auto ;
    width: 80vw;
    height: 10vh;
    background: #34495e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0,0,.1);
}
nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 100%;
    /* height: 5px; */
    top : 0;
    /* bottom: 0; */
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1){
    width: 20%;
}
nav .start_home, a:nth-child(1):hover~.animation{
    width: 20%;
    left: 0;
}
nav a:nth-child(2){
    width : 20%;
}
nav a:nth-child(2):hover~.animation{
    width: 20%;
    left: 20%;
}

nav a:nth-child(3){
    width : 20%;
}
nav a:nth-child(3):hover~.animation{
    width: 20%;
    left: 40%;
}

nav a:nth-child(4){
    width : 20%;
}
nav a:nth-child(4):hover~.animation{
    width: 20%;
    left: 60%;
}

nav a:nth-child(5){
    width : 20%;
}
nav a:nth-child(5):hover~.animation{
    width: 20%;
    left: 80%;
}

/* -----------------NAVBAR END---------------------------------*/
/* -----------------LOGO and text start ---------------------------------*/
  img{
     height: 20vh;
    }

  .head {
    display: flex;
    background-color: black;
    min-height: 90vh;

  }
  .head > div {
    width: 50vw;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
  }

  .headText{
    margin: 2vh auto;
  }
  .headText h1{
    padding: 10px;
  }
  .headTextdiv{
    padding: 15%;
    margin: 0 auto;
  }

  .purple{
    color : purple;
  }
  .green{
    color: rgb(85, 220, 85);
  }
  .red{
    color: #cd4040;
  }
  
  .headImage img{
    height: 100%;
    width: 50vw;
    justify-content: center;
    align-items: center;
  }
  /* -----------------logo and text end---------------------------------*/


/* -----------------BLock1---------------------------------*/
/* Middle class */ 
.Block1{
  /*#256D85;*/
    margin: 5vh auto;
    width: 80vw;
    height: 40vh;
    border-radius: 20px;
    background:radial-gradient(100.18% 488.14% at 50% 50%, rgba(109, 212, 196, 0) 23.23%, rgba(77, 235, 212, 0.365) 85.73%);  
    justify-content: center;
    align-self: center;
}


/*------------Contact-US-----------*/

.contact p{
  font-size: 2rem;
  margin: 2rem 0rem; 
}

.contact h1{
  text-align: center;
  margin-bottom: 2vh;
}


/* grid for form */
/*
.item1 { grid-area: name; }
.item2 { grid-area: nameInput; }
.item3 { grid-area: mail; }
.item4 { grid-area: mailInput; }
.item5 { grid-area: question; }
.item6 { grid-area: questionInput; }
.item7 { grid-area: submit; }

.grid_container {
display: grid;
grid-template-areas:
  'name name nameInput nameInput nameInput nameInput'
  'mail mail mailInput mailInput mailInput mailInput'
  'question question questionInput questionInput questionInput questionInput'
  'submit submit submit submit submit submit';
gap: 10px;

padding: 10px;
} */

.submitform{
  margin: 3vh auto;
  width: 40%;
  
}


.contact_flexo{
  display: flex;
  margin-top: 2vh;
  justify-content : space-around;
  align-items : center;
}

.grid-container > label {
background-color: rgba(255, 255, 255, 0.25);
text-align: center;
padding: 20px 0;
font-size: 30px;
}
.grid-container > input
{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  min-height: 30vh;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

input[type=text]{
  background-color: rgba(255, 255, 255, 0.25);
}

.item6{
  min-height: 20vh;
}
.inputform{
  max-width: 70%;
}


/* contact update css*/
form label{
  margin: 8px auto 8px 20px;
  font-size: 1.5rem;
}
input[type=text], select {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 8px 8px 0;
  display: inline-block;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #57D9CD;
  color: black;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

input[type=submit]:hover {
  transform: scale(1.1);
  transition: 0.3s;      /*Specify afterwards */
}
